<div class="row justify-content-center">
    <div class="col-8 justify-content-center">
<div style="border-radius: 1rem;"class="card">
    <h1 style="background-color: #5da0a2; color: white;"class="card-header">{{this.enfermedad.nombre}}</h1>
    <div class="card-body" style="margin: 1rem;">
        <div style="border-bottom: solid; border-width: 0.1rem; border-color: #93af56;"class="cuadro">
            <h5 class="card-title verde">Descripcion</h5>
            <p style="margin-bottom: 1rem;"class="text-center p-t-20 p-b-20 justify-content-center">{{this.enfermedad.descripcion}}</p>
        </div>
        <div style="border-bottom: solid; border-width: 0.1rem; border-color: #93af56;"class="cuadro">
            <h5 class="card-title verde">Tratamiento</h5>
            <p style="margin-bottom: 1rem;"class="text-center p-t-20 p-b-20 justify-content-center">{{this.enfermedad.tratamiento}}</p>
        </div>
        <div style="border-bottom: solid; border-width: 0.1rem; border-color: #93af56;"class="cuadro">
            <h5 class="card-title verde">Síntomas</h5>
            <li class="text-center p-t-20 p-b-20 justify-content-center" *ngFor="let sintoma of this.enfermedad.sintomas">
                <a (click)="irAlSintoma(sintoma._id)">{{sintoma.nombre}}</a>
            </li>        
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group">
            <div class="p-t-20">
                <button class="btn btn-info volver-login" id="to-recover" type="submit" (click)="anyadirFav()"><i class="fa fa-star"></i>  Guardar en favoritos</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>