<div class="row" style="margin-top: -5rem;">
    <h1 style="color: #5da0a2;">Encuentre la causa de sus síntomas con un par de clicks</h1>
</div>
<div class="row" style="padding-top: 7rem;">
    <div class="card mb-4 border-0" style="margin:auto; width: 15rem; ">
        <div class="card-body">
          <h5 style="color: #93af56;"class="card-title">Indique su síntoma principal y se procederá a realizar la búsqueda</h5>
          <form class="form-horizontal m-t-20" id="busquedaForm" [formGroup]="busquedaForm" (ngSubmit)="buscar()">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-success1 text-white" id="basic-addon1"></span>
                        </div>
                        <input type="text" class="form-control form-control-lg campo-login" formControlName="sintoma" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="p-t-20">
                            <button class="btn btn-info volver-login" id="to-recover" type="submit"><i class="fa fa-search"></i>  Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
         </form>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center" *ngIf="comprobarEnfermedades()===true">
    <div class="card mb-12 border-0">
        <h5 class="card-title" style="color: #5da0a2;">Lista de posibles enfermedades relacionadas con tu síntoma principal</h5>
            <div class="table-responsive">
                <table id="" class="table table-striped table-bordered">
                    <thead>
                        <tr style="background-color:#5da0a2; color:white;">
                            <th>Enfermedad</th>
                            <th>Sintomas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let enfermedad of listaenfermedadesposibles">
                            <td class="micursor" style="font-weight: bold;">{{enfermedad.nombre}}</td>
                            <td [routerLink]="" class="micursor">{{mostrarSintomas(enfermedad.sintomas)}}</td>
                            <button class="btn btn-success" style="background-color: #5da0a2; color:white;"  id="to-recover" type="submit"><i class="fa fa-plus"></i>  Info</button>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

<div class="row d-flex justify-content-center" *ngIf="comprobarEnfermedades()===false && this.buscado===true">
    <div class="card mb-12 border-0">
        <h3 style="color: red;">No hay ninguna enfermedad relacionado con tu síntoma. Prueba otro</h3>
    </div>
</div>



